.bg-1fa1{
    width: 80px;
    height: 80px;
    background: url('../icons/a1.png');
    background-size: 100%;
}
.bg-1fa2{
  width: 80px;
  height: 80px;
  background: url('../icons/a2.png');
  background-size: 100%;
}
.bg-1fa3{
  width: 80px;
  height: 80px;
  background: url('../icons/a3.png');
  background-size: 100%;
}
.bg-1fa4{
  width: 80px;
  height: 80px;
  background: url('../icons/a4.png');
  background-size: 100%;
}
.bg-1fa5{
  width: 80px;
  height: 80px;
  background: url('../icons/a5.png');
  background-size: 100%;
}
.bg-1fa6{
  width: 80px;
  height: 80px;
  background: url('../icons/a6.png');
  background-size: 100%;
}
.bg-1fa7{
  width: 80px;
  height: 80px;
  background: url('../icons/a7.png');
  background-size: 100%;
}
.bg-1fa8{
  width: 80px;
  height: 80px;
  background: url('../icons/a8.png');
  background-size: 100%;
}
.bg-1fa9{
  width: 80px;
  height: 80px;
  background: url('../icons/a9.png');
  background-size: 100%;
}
.bg-1fa10{
  width: 80px;
  height: 80px;
  background: url('../icons/a10.png');
  background-size: 100%;
}
.bg-1fa11{
  width: 80px;
  height: 80px;
  background: url('../icons/a11.png');
  background-size: 100%;
}
.bg-1fa12{
  width: 80px;
  height: 80px;
  background: url('../icons/a12.png');
  background-size: 100%;
}
.bg-1fa13{
  width: 80px;
  height: 80px;
  background: url('../icons/a13.png');
  background-size: 100%;
}
.bg-1fa14{
  width: 80px;
  height: 80px;
  background: url('../icons/a14.png');
  background-size: 100%;
}
.bg-1fa15{
  width: 80px;
  height: 80px;
  background: url('../icons/a15.png');
  background-size: 100%;
}
.bg-1fa16{
  width: 80px;
  height: 80px;
  background: url('../icons/a16.png');
  background-size: 100%;
}
.bg-1fa17{
  width: 80px;
  height: 80px;
  background: url('../icons/a17.png');
  background-size: 100%;
}
.bg-1fa18{
  width: 80px;
  height: 80px;
  background: url('../icons/a18.png');
  background-size: 100%;
}
.bg-1fa19{
  width: 80px;
  height: 80px;
  background: url('../icons/a19.png');
  background-size: 100%;
}
.bg-1fa20{
  width: 80px;
  height: 80px;
  background: url('../icons/a20.png');
  background-size: 100%;
}
.bg-1fa21{
  width: 80px;
  height: 80px;
  background: url('../icons/a21.png');
  background-size: 100%;
}
.bg-1fa22{
  width: 80px;
  height: 80px;
  background: url('../icons/a22.png');
  background-size: 100%;
}
.bg-1fa23{
  width: 80px;
  height: 80px;
  background: url('../icons/a23.png');
  background-size: 100%;
}
.bg-1fa24{
  width: 80px;
  height: 80px;
  background: url('../icons/a24.png');
  background-size: 100%;
}
.bg-1fa25{
  width: 80px;
  height: 80px;
  background: url('../icons/a25.png');
  background-size: 100%;
}
.bg-1fa26{
  width: 80px;
  height: 80px;
  background: url('../icons/a26.png');
  background-size: 100%;
}
.bg-1fa27{
  width: 80px;
  height: 80px;
  background: url('../icons/a27.png');
  background-size: 100%;
}
.bg-1fa28{
  width: 80px;
  height: 80px;
  background: url('../icons/a28.png');
  background-size: 100%;
}
.bg-1fa29{
  width: 80px;
  height: 80px;
  background: url('../icons/a29.png');
  background-size: 100%;
}
.bg-1fa30{
  width: 80px;
  height: 80px;
  background: url('../icons/a30.png');
  background-size: 100%;
}
.bg-1fa31{
  width: 80px;
  height: 80px;
  background: url('../icons/a31.png');
  background-size: 100%;
}
.bg-1fa32{
  width: 80px;
  height: 80px;
  background: url('../icons/a32.png');
  background-size: 100%;
}
.bg-1fa33{
  width: 80px;
  height: 80px;
  background: url('../icons/a33.png');
  background-size: 100%;
}
.bg-1fa34{
  width: 80px;
  height: 80px;
  background: url('../icons/a34.png');
  background-size: 100%;
}
.bg-1fa35{
  width: 80px;
  height: 80px;
  background: url('../icons/a35.png');
  background-size: 100%;
}
.bg-1fa36{
  width: 80px;
  height: 80px;
  background: url('../icons/a36.png');
  background-size: 100%;
}
.bg-1fa37{
  width: 80px;
  height: 80px;
  background: url('../icons/a37.png');
  background-size: 100%;
}
.bg-1fa38{
  width: 80px;
  height: 80px;
  background: url('../icons/a38.png');
  background-size: 100%;
}
.bg-1fa39{
  width: 80px;
  height: 80px;
  background: url('../icons/a39.png');
  background-size: 100%;
}
.bg-1fa40{
  width: 80px;
  height: 80px;
  background: url('../icons/a40.png');
  background-size: 100%;
}
.bg-1fa41{
  width: 80px;
  height: 80px;
  background: url('../icons/a41.png');
  background-size: 100%;
}
.bg-1fa42{
  width: 80px;
  height: 80px;
  background: url('../icons/a42.png');
  background-size: 100%;
}
.bg-1fa43{
  width: 80px;
  height: 80px;
  background: url('../icons/a43.png');
  background-size: 100%;
}
.bg-1fa44{
  width: 80px;
  height: 80px;
  background: url('../icons/a44.png');
  background-size: 100%;
}
.bg-1fa45{
  width: 80px;
  height: 80px;
  background: url('../icons/a45.png');
  background-size: 100%;
}
.bg-1fa46{
  width: 80px;
  height: 80px;
  background: url('../icons/a46.png');
  background-size: 100%;
}
.bg-1fa47{
  width: 80px;
  height: 80px;
  background: url('../icons/a47.png');
  background-size: 100%;
}
.bg-1fa48{
  width: 80px;
  height: 80px;
  background: url('../icons/a48.png');
  background-size: 100%;
}